<footer id="footer">
  <ul class="icons">
    {% for socloc in site.social %}
      {% if socloc[1] %}
        {% if socloc[0] == 'email' %}
          <li>
            <a target="_blank" href="{{ socloc[1] }}" class="icon fa-envelope-o" rel="noopener noreferrer">
              <span class="label">E-mail</span>
            </a>
          </li>
        {% else %}
          <li>
            <a target="_blank" href="{{ socloc[1] }}" class="icon fa-{{ socloc[0] }}" rel="noopener noreferrer">
              <span class="label">{{ socloc[0] | capitalize }}</span>
            </a>
          </li>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>

  <ul class="copyright">
    <li>&copy; {{ site.time | date: "%Y" }} {{ site.title }}</li>
  </ul>
</footer>